$black: #000;
$white: #fff;
$color1: #eee;
$color2: #ccc;
$color3: #f1f1f1;
$dark-red: #444;
$grey: #333;
$white: #f7f7f7;
$color4: #aaa;
$color5: #eee;
$red: #F44336;
$dark-grey: #555;
$color6: #FFF;